# Copyright (c) 2025 Conny Marco Menebröcker
# SPDX-License-Identifier: Apache-2.0

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# enable GPIO
CONFIG_GPIO=y

# enable USART
CONFIG_SERIAL=y
CONFIG_UART_STM32=y
CONFIG_UART_ASYNC_API=y
CONFIG_UART_INTERRUPT_DRIVEN=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

#enable PWM
CONFIG_PWM=y

#enable ADC
CONFIG_ADC=y
CONFIG_ADC_STM32=y
CONFIG_ADC_ASYNC=y
CONFIG_ADC_STM32_DMA=y
CONFIG_DMA=y 

#Power Mangement
CONFIG_PM=y
CONFIG_PM_DEVICE=y